#clock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 1240px;
  margin: 0 auto;
}

.clock-container {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #fffdfd;
}

.clock-container * {
  margin: 8px;
}

.clock-time-display {
  padding: 8px;
  background-color: cornflowerblue;
  color: white;
  font-size: 30px;
}

.clock-container.night {
  background-color: #333;
  color: white;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c7c0a3;
  margin-left: 250px;
  margin-top: 20px;
}

#addClock {
  padding: 4px 4px;
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 50%;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border: 2px solid #72ac25;
}

world-clock {
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  display: none;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  padding: 8px 0;
  max-width: 1240px;
  margin: 0 auto;
}

.list-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  padding: 8px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

#cityInput {
  background-image: url("../images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px 10px 40px;
  margin-bottom: 10px;
  border: 1px solid #888471;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 18px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 18px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

#cityInput:focus {
  outline: none;
}

ul {
  border: 1px solid #888471;
  border-radius: 8px;
  overflow: hidden;
}

ul button {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  font-size: 14px;
  color: #ddd;
  display: block;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

ul button:hover {
  background-color: #aaa27a;
  color: white;
  font-weight: 500;
  padding-left: 24px;
}

ul button:active {
  background-color: #888471;
}
/*# sourceMappingURL=main.css.map */