@import "clock";

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(199, 192, 163);
	margin-left: 250px;
}
#addClock {
	padding: 4px 4px;
	width: 25px;
	height: 25px;
	font-size: 16px;
	font-weight: 800;
	border-radius: 50%;
	box-sizing: unset;
	border: 2px solid #72ac25;
}

world-clock {
	animation: appear 0.5s;
}

@keyframes appear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
footer {
	width: 100%;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	bottom: 0;
}
.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;
	width: 100%;
	padding: 8px 0;
	max-width: 1240px;
	margin: 0 auto;
}

.list-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	padding: 8px;
	overflow: auto;
	background-color: #aaaaaa;
}

#cityInput {
	background-image: url("../images/search.png");
	background-position: 10px 12px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
}

ul button {
	border: 1px solid #ddd;
	background-color: #f6f6f6;
	padding: 12px 20px;
	font-size: 18px;
	color: black;
	display: block;
	width: 100%;
	text-align: left;
	text-transform: capitalize;
	&:hover {
		background-color: #eee;
	}
}
